h2 {
    font-size: 24px; /* Set the desired font size for h2 tags */
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 30px; /* Set the desired font size for h1 tags */
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 16px; /* Set the desired font size for p tags */
    font-family: 'Roboto', sans-serif;
}
body {
    font-family: 'Roboto', sans-serif;
}

[role="alert"] {
    font-size: 16px; /* Set the desired font size for Message tags */
}

div {
    font-size: 20px; /* Set the desired font size for list-group-item tags */
    font-family: 'Roboto', sans-serif;
}
.small-button {
    font-size: 12px !important; /* Adjust the font size as needed */
    padding: 3px 5px !important; /* Adjust the padding as needed */
}

/* Global styles for tables */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 10px;
}

.table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.table th,
.table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.small-button {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.small-button:hover {
    background-color: #007bff;
    color: #ffffff;
}

.fa-check {
    color: #28a745;
}

.fa-times {
    color: #dc3545;
}

/* Carousel Container */
.small-carousel {
    background-color: #f8f9fa;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-left: 160px;
}

/* Carousel Image */
.small-carousel .carousel-item img {
    height: 100px;
    max-width: 80%; /* Reduce width to make images smaller */
    object-fit: contain;
    margin: 0 auto; /* Center align the image */
    border: 2px solid #ddd; /* Optional border for emphasis */
    border-radius: 8px; /* Optional rounded edges */
}

/* Carousel Caption */
.small-carousel .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
}

/* Carousel Links */
.small-carousel a {
    text-decoration: none;
}

/* Carousel Heading */
.small-carousel h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}


/* Icon Styling (Optional) */
.small-carousel .carousel-control-prev-icon,
.small-carousel .carousel-control-next-icon {
    filter: invert(100%); /* Make icons white for visibility */
}


