h2 {
    font-size: 24px; /* Set the desired font size for h2 tags */
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 30px; /* Set the desired font size for h1 tags */
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 16px; /* Set the desired font size for p tags */
    font-family: 'Roboto', sans-serif;
}
body {
    font-family: 'Roboto', sans-serif;
}

[role="alert"] {
    font-size: 16px; /* Set the desired font size for Message tags */
}

div {
    font-size: 20px; /* Set the desired font size for list-group-item tags */
    font-family: 'Roboto', sans-serif;
}
.small-button {
    font-size: 12px !important; /* Adjust the font size as needed */
    padding: 3px 5px !important; /* Adjust the padding as needed */
}

/* Global styles for tables */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 10px;
}

.table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.table th,
.table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.small-button {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.small-button:hover {
    background-color: #007bff;
    color: #ffffff;
}

.fa-check {
    color: #28a745;
}

.fa-times {
    color: #dc3545;
}

